$primary: #009ee2;
$secondary: #ef801a;
$dark: #181819;
$gray: #868686;
$danger: #f46d6d;
$warning: #e0a46c;
$success: #4da681;

$theme-colors: (
        "primary":    $primary,
        "secondary":  $secondary,
        "dark":       $dark,
        "danger":     $danger,
        "warning":    $warning,
        "success":    $success,
);

$grid-breakpoints: (
        xs: 0,
        sm: 720px,
        md: 1160px,
        lg: 1280px,
        xl: 1440px,
        xxl: 1680px
);

$container-max-widths: (
        xs: 95%,
        sm: 90%,
        md: 1140px,
        lg: 1280px,
        xl: 1360px,
        xxl: 1440px
);
